
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: linear-gradient(89.88deg, #F58DB3 0.41%, rgba(247, 72, 204, 0.4375) 46.95%, rgba(219, 0, 255, 0.46) 86.18%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.apresentação {
    margin: 30px;
    font-size: 25px;
            text-align: center;
            color: black;
            margin-top: 20px;

    
            
}

h2{
    margin-top: 20px;
}

.cabecalho-imagem {
    width: 185px;
    height: 185px;
    border-radius: 80%;
    border: #F58DB3;
    text-align: center;
}

.cabeça{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cabecalho-menu {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    font-size: 45px
}

.button {
    padding: 20px;

  border: 0px;
  border-radius: 4px;
  
  width: 120px;
  height: 60px;
  
  color: black;
  background-color: lightgray;
  margin-top: 20px;

}


button:hover
{
  background-color: pink;
}


button:active
{
  color: white;
}

.quem-e-brandon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;

}
.quem-e-brandon-conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px; 
    border-color: black;

}
.h3 {
    margin-top: 20px;
    width: auto;
    height: auto;
}
